.map-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

#map { 
    position: relative;
    border-radius: 10px;
    height: 90%;
    width: 90% 
}