.navigation {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(34, 49, 63, 0.4);
}

.anchor {
    position: relative;
    display: flex;
    height: 100%;
}

.logo {
    position: relative;
    height: 100%;
}

.anchor, p {
    position: relative;
    align-items: center;
    text-decoration: none;
    color: white;
    
}