@font-face {
    font-family: 'Vindemia';
    src: local('Vindemia'), url(../../UI/fonts/Vindemia.ttf) format('truetype');
}

.overview-container {
    position: relative;
    background-color: rgba(105,105,105, 0.4);
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Vindemia, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.overview{
    font-family: Vindemia, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    text-decoration: underline;
}

.distance{
    text-align: center;
    color: lightgoldenrodyellow;
    font-size: 1.2em
}

.stats{
    font-family: Vindemia, Arial, Helvetica, sans-serif;
    color: lightgoldenrodyellow;
    font-size: 1.4em;
}

.mars-title{
    font-family: Vindemia, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding-top: 2%;
}

.planet{
    animation: rotation 200s infinite linear;
}

.mars-global{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.line-stroke{
    position: relative;
    height: 0.15em;
    width: 62%;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    margin-bottom: 2%;
}

.details-container{
    padding-top: 5%;
    padding-left: 2%;
}

.details-container>p{
    font-family: Vindemia, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding-bottom: 0.5%;
}

.probes{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.probes>p{
    font-family: Vindemia, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }