.home {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-iss,
.card-astro,
.card-rover {
    position: relative;
    display: flex;
    align-items: center;
    height: 65%;
    width: 20%;
    border-radius: 5px;

    background-color: rgba(34, 49, 63, 1);
}

.card-title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
